In [1]:
# Write a Python Program to accept the details of a student like name, roll number 
# and mark and display it

name=input("Enter the name")
roll_no=int(input("Enter the roll number"))
mark=int(input("Enter the mark"))

Enter the name Kavitha
Enter the roll number 10
Enter the mark 98

In [2]:
# convert temperatures from  Fahrenheit to Celsius

temp_far=int(input("Enter the temparature in Fahrenheit"))
celsius=(((temp_far-32)*5)/9)
print(celsius)

Enter the temparature in Fahrenheit 41
5.0

In [3]:
#  Write a Python program to accept two numbers from the user and display its product.

first=int(input("Enter the first number"))
second=int(input("Enter the second number"))
product=first*second
print("product is ",product)

Enter the first number 4
Enter the second number 5
product is  20

In [4]:
# Write a Python program to accept a string “Learn Python by Developing a Website” 
# and display the string like “Learn**Python** by Developing a **Website**

_a=input("Enter the string")
print('Learn**Python** by Developing a **Website ')

Enter the string Learn Python by Developing a Website
Learn**Python** by Developing a **Website

In [5]:
# Write a Python program to accept the radius of a circle and display its area

import math
r=int(input("Enter the radius of circle"))
print('Area=',math.pi*r*r)

Enter the radius of circle 4
Area= 50.26548245743669

In [6]:
# Python program to insert a number to any position in a list

list1=[1,2,3,4,5,6,7,8,9]
list1.append(10)

In [7]:
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
list1.insert(9,0) #  zero in 9th index

In [9]:
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 10]

In [10]:
# Write a program to rename a key city to a location in the following dictionary.

sample_dict = { "name": "John", "age":5, "salary": 8000, "city": "New York"}

sample_dict["Location"]=sample_dict.pop("city")

In [11]:
sample_dict

{'name': 'John', 'age': 5, 'salary': 8000, 'Location': 'New York'}

In [25]:
#Write a Python program to change Brad’s salary to 8500 in the following dictionary

sample_dict1 = {'emp1': {'name': 'John', 'salary': 7500},'emp2': {'name': 'Emma', 'salary': 8000},
              'emp3': {'name': 'Brad', 'salary': 500}}

sample_dict1['emp3']={'name': 'Brad', 'salary': 8500}

In [26]:
sample_dict1

{'emp1': {'name': 'John', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 8500}}

In [27]:
# Write a program to copy elements 43 and 54 from the following tuple into a new tuple.Given:

t1=(10, 20, 43, 54, 56, 68)

In [28]:
t1

(10, 20, 43, 54, 56, 68)

In [29]:
type(t1)

tuple

In [30]:
t1[2]

43

In [31]:
t1[3]

54

In [32]:
# Counts the number of occurrences of item 50 from a tuple
tuple1 = (50, 10, 60, 70, 50,83,567,50,81)

In [33]:
tuple1.count(50)

3